html { height: 100%; }

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	height: 100%;
}

#nav-wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #298532;
}

#nav {
	width: 60%;
	height: 45px;
	margin: 0px auto;
	padding: 0px 3px;
	font-size: 30px;
}

.nav-button {
	background-color: #298532;
}

.nav-button:hover {
	background-color: #14741d;
}

#page-wrapper {
	background-color: #14741d;
	height: 100%;
}

#content-wrapper {
	margin-top: 45px;
}